<header id="sections-sidebar">
     <nav class="section-sidebar-links">
        <ul>
                <li><button>World</button></li>
                <li><button>San Francisco</button>
                    <section class="dropdown">
                        <ul>
                            <li>Students</li>
                            <li>Teaching Assistants</li>
                            <li>Instructors</li>
                            <li>Career Advisors</li>
                            <li>Cats</li>
                        </ul>
                    </section>
                </li>
                <li><button>New York</button></li>
                <li><button>Bootcamp Prep</button></li>
                <li><button>Jumpstart</button></li>
                <li><button>Online</button></li>
                <li><button>Marketing</button></li>
                <li><button>Sales</button></li>
                <li><button>TalentMatch</button></li>
                <li><button>Alumni</button></li>
                <li><a href="#">All</a></li>
        </ul>
    </nav>
</header>
<!--
<section class="dropdown">
    <ul>
        <li>Students</li>
        <li>Teaching Assistants</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
    </ul>
</section>
San Francisco
    Students
    Teaching Assistants
    Instructors
    Career Advisors
    Cats

Bootcamp Prep
    Students
    Instructors
    Cats

Online
    Immersive
    Bootcamp Prep
    Cats
                
Sales
    Associates
    Analytics
    Cats
            
Alumni
    Students
    Companies
    Opinions
    Cats
            -->